
:root{
    --gray1:#dbdbdb31;
    --gray2:#a4a4a4;
    --gray3:#8a8a8a;
    
    --blue1: #0095ff17;
    --blue2: #0095ff8b;
    --blue3: #0095ff;
    --boxShadow: 0 0 10px 0 rgba(0,0,0,15%)
}



.productDetail-container{
    grid-column: 2/5;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,max-content));

gap: 20px;
}

.productDetail-pic{
    border-radius: 15px;
    box-shadow: var(--boxShadow);
    padding: 40px 60px;
}

.productDetail-chartInfo,
.productDetail-desc{
    border-radius: 15px;
    box-shadow: var(--boxShadow);
    padding: 20px 40px;
}
.productDetail-chartTitle{
    margin: 0 0 30px 0;
   
}
.productDetail-pic{
    grid-column: 1/span 2;
  position: relative;
}

.productDetail-img{
    width: 300px;
    border: 1px dashed var(--gray2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    
}
.thumbs{
   
   flex-wrap: wrap;
}
/* .MuiFormControl-root{
    width: 50% !important;
} */
.productDetail-imgthumb{
    width: 100px;
    border: 1px dashed var(--gray2);
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    
}

.productDetail-pic-listitem{
    margin: 20px;
}
.productDetail-pic-listitem::before{
    content: " ";
 display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 10em;
    background-color: var(--blue3);
    margin: 0 0 0 10px;
}


.productDetail-price-container{
    position: absolute;
    left: 22%;
    top: 17%;
}

.productDetail-price{
    font-size: 27px;
    position: absolute;
    top: 5em;
    display: flex;
    align-items: center;
    gap: 13px;
}
.product-number{
    position: absolute;
    width: 4em;
    top: 4em;
    right: -8em;
    
}
.productDetail-title-into{
    width: 50% !important;
}


.productDetail-desc{
    grid-column: 1/-1;

}

.productDetail-desc1{
    width: 100%;
    height: 40em;
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 0 10px;
}
.productDetail-desc1:focus{
    outline: none;
}
.product-specs{
    border: 1px solid #dedede;
    border-radius: 15px !important;
overflow: hidden;
}
.product-specs-table{
    width: 100%;
    
}

.product-specs-tr{
    border-bottom: 1px solid #dedede;
   
    
}
.product-specs-td{
    padding: 20px;
   
}
.td-key{
    border-left: 1px solid #dedede;
    background-color: var(--gray1);
}
.productDetail-pic-addPhoto{
 
    position: absolute;
    top: 21.5em;
    right: 22em;
    background-color: #fff;
    border-radius: 20em;
    border: 1px dashed var(--gray2);
}

.productDetail-rating{
    position: absolute !important;
    top: 9em;
    right: 0;
}
.productDetail-rating2{
    position: absolute !important;
    top: 13.5em;
    right: 8em;
    color: var(--gray2);
}
.productDetail-save{
    border-radius: 15px;
    box-shadow: var(--boxShadow);
    margin: 20px 0 0 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.productDetail-save Button{
    padding: 10px;
}


.product-review-listitem{
    background-color: var(--gray1);
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0;
}
.product-review-title{
    margin: 0 0 30px 0;
}
.product-review-cname{
    margin: 0 0 17px 0;
    display: inline-flex;
    font-style: italic;
    color: var(--gray2);
}
.product-review-date{
    color: var(--gray2);
}

.product-review-desc{
    color: var(--gray3);
}


@media screen and (max-width:1000px) {
    .productDetail-price-container {
       
        left: 1%;
       
    }
}

@media screen and (max-width:820px) {
    .productDetail-pic {
       
        padding: 1em;
    }
}

@media screen and (max-width:700px) {
    .productDetail-container{
        grid-column: 1/-1;
        padding: 1em; 
        grid-template-columns: repeat(auto-fit,minmax(330px,1fr));
    }
    .productDetail-pic {
        grid-column: 1/-1;
        padding: 1em;
    }

    .productDetail-pic-addPhoto {
       
        top: 19.5em;
        right: 18.5em;
       
    }
    .productDetail-img {
      
        margin: 0 auto;
        display: block;
    }
    .thumbs {
       
        padding: 0 1.6em 0 0;
    }
    .productDetail-price-container {
        position: relative;
        left: 0;
        height: 16em;
        top: 0;
    }

    .productDetail-save {
       
        flex-direction: column;
       
    }
    .productDetail-title-into{
        width: 100% !important;
    }
}