


.ComposeMail-container{
    grid-column: 2/5;
    padding: 1.2em 1em 0 3em;
    
}


.composemail-body{
    
    box-shadow: var(--boxShadow);
    border-radius: 15px;
    overflow: hidden;
    position: fixed;
    width: 74%;
}

.composemail-header{
    background-color: var(--gray1);
    padding: 1em;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.composemail-sendto,
.composemail-subject{
    outline: none;
    border: none;
    padding:1em;
    width: 100%;
}

.Bdarker{
    border-color: var(--gray2) !important;
}

.composemail-desc{
    border: none;
    outline: none;
    width: 100%;
    height: 20em ;
    padding: 1em;
    resize: none;
    background-color: var(--gray1);
}


.composemail-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.composemail-sendBtn{
    font-family: B-yekan !important;
    font-size: 18px !important;
}

.composemail-removeBtn{
    padding: 7px 0 7px 12px !important ;
    font-family: B-yekan !important;
    font-size: 16px !important;
}

.composemail-footer-rightside{
    display: flex;
    column-gap: 10px;
}


@media screen and (max-width:900px) {
    .composemail-desc{
       
        height:15em ;
       
    }
}

@media screen and (max-width:745px) {
    .composemail-body{
    
      
        width: 70%;
    }
}
@media screen and (max-width:700px) {
    .ComposeMail-container{
        grid-column: 1/-1;
        padding: 1em;
        
    }
    .composemail-body{
    
      
        width: 95%;
    }
}
@media screen and (max-width:500px) {
    
    .composemail-body{
    
      
        width: 90%;
    }
}

@media screen and (max-width:430px) {
    .composemail-desc{
       
        height:13em ;
       
    }
}