*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: B-yekan;
}
@font-face {
  font-family: B-yekan;
  src: url(Font/YekanV3.eot);
  src: url(Font/YekanV3.ttf);
  src: url(Font/YekanV3.woff);
}
a{
  text-decoration: none !important;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.contain{
display: grid;
grid-template-columns: 0.7fr repeat(3,1fr);
margin: 1em 0 0 0;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
