:root {
    --gray1: #dbdbdb31;
    --gray2: #a4a4a4;
    --gray3: #8a8a8a;

    --blue1: #0095ff17;
    --blue2: #0095ff8b;
    --blue3: #0095ff;
    --boxShadow: 0 0 10px 0 rgba(0, 0, 0, 15%)
}




.sales-container {
    grid-column: 2/5;
    padding: 2em 0 2em 2em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: repeat(2,250px);
    gap: 20px;
}


@font-face {
    font-family: Lato-Regular;

    src: url(../../Font/Lato-Regular.ttf);

}


.sale-box5 {
    grid-column: 1/-1;
}


@media screen and (max-width:700px) {

    .sales-container {
        grid-column: 1/-1;
        padding: 1em;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-template-rows: repeat(4,250px);
    }
}
@media screen and (max-width:500px) {

    .sales-container {
        
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }


}